@font-face {
    font-family: 'rubicLight';
    src: url('../public/assets/fonts/Rubik-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'rubicRegular';
    src: url('../public/assets/fonts/Rubik-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'rubicMedium';
    src: url('../public/assets/fonts/Rubik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'rubicBold';
    src: url('../public/assets/fonts/Rubik-Bold.ttf');
    font-weight: 700;
}
